.idea/
.vscode/

*.jar

MachineController/BrewSoft/target/maven-archiver/pom.properties

*.lst

MachineController/BrewSoft/target/maven-status/maven-compiler-plugin/compile/default-compile/

*.class

MachineController/BrewSoft/nb-configuration.xml

MachineController/BrewSoft/pom.xml.backup

MachineController/MachineControllerAPI/.mvn/wrapper/maven-wrapper.properties

MachineController/MachineControllerAPI/src/main/resources/application.properties
