div.barley {
  display: inline-block;
}

div.hops {
  display: inline-block;
}

div.malt {
  display: inline-block;
}

div.wheat {
  display: inline-block;
}

div.yeast {
  display: inline-block;
}


div.product-type {
  display: inline-block;
}

div.batch-id {
  display: inline-block;
}

div.to-be-produced {
  display: inline-block;
}

div.produced {
  display: inline-block;
}

div.acceptable-products {
  display: inline-block;
}

div.defect-products {
  display: inline-block;
}


div.products-per-minut {
  display: inline-block;
}

div.temperature {
  display: inline-block;
}

div.humidity {
  display: inline-block;
}

div.vibration {
  display: inline-block;
}


div.stop-reason {
  display: inline-block;
}

div.maintenance-status {
  display: inline-block;
}

div.state {
  display: inline-block;
}